<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      lang="en" data-namespace-typo3-fluid="true">
<head>
    <title>...</title>
</head>
<body>


<f:section name="Main">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <f:form.textfield property="title" id="title" class="form-control" additionalAttributes="{aria-describedby : 'titleHelp'}"/>
        <div id="titleHelp" class="form-text">Unser title text</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <f:form.textarea class="form-control" property="description" id="description" cols="40" rows="5" />
    </div>

    <div class="mb-3">
        <label for="datePosted" class="form-label">Date posted</label>
        <f:form.textfield class="form-control" property="datePosted" id="datePosted" value="{jobPosting.datePosted->f:format.date()}" />
    </div>
    <div class="mb-3">
        <label for="validThrough" class="form-label">validThrough</label>
        <f:form.textfield class="form-control" property="validThrough" id="validThrough" value="{jobPosting.validThrough->f:format.date()}" />
    </div>

</f:section>

<f:section name="MainExtensionBuilder">

<label for="title">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="datePosted">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.date_posted" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="datePosted" id="datePosted" value="{jobPosting.datePosted->f:format.date()}" /><br />
<label for="description">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="description" id="description" cols="40" rows="15" /><br />
<label for="validThrough">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.valid_through" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="validThrough" id="validThrough" value="{jobPosting.validThrough->f:format.date()}" /><br />
<label for="image">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.image" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="files">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.files" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="employmentType">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.employment_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="employmentType" id="employmentType" /><br />



</f:section>
</body>
</html>
