<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dsc-jobpostings" >
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_joblocation.title" />
		</td>
		<td>
			{jobLocation.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_joblocation.street_address" />
		</td>
		<td>
			{jobLocation.streetAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_joblocation.address_locality" />
		</td>
		<td>
			{jobLocation.addressLocality}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_joblocation.address_region" />
		</td>
		<td>
			{jobLocation.addressRegion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_joblocation.postal_code" />
		</td>
		<td>
			{jobLocation.postalCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_joblocation.address_country" />
		</td>
		<td>
			{jobLocation.addressCountry}
		</td>
	</tr>
</table>
</html>