<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Backend:
        Templates:
          JobLocation:
            List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-add"
        title="{f:translate(id: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newRecordGeneral')}"
        link="{f:uri.action(controller: 'JobLocation', action: 'new')}"
    />
</f:section>

<f:section name="Content">
    <h1>Listing for JobLocation</h1>

    <f:flashMessages />

    <table class="tx_dscjobpostings">
        <tr>
            <th><f:translate key="tx_dscjobpostings_domain_model_joblocation.title" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_joblocation.street_address" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_joblocation.address_locality" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_joblocation.address_region" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_joblocation.postal_code" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_joblocation.address_country" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{jobLocations}" as="jobLocation">
            <tr>
                <td><f:link.action action="show" arguments="{jobLocation: jobLocation}">{jobLocation.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobLocation: jobLocation}">{jobLocation.streetAddress}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobLocation: jobLocation}">{jobLocation.addressLocality}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobLocation: jobLocation}">{jobLocation.addressRegion}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobLocation: jobLocation}">{jobLocation.postalCode}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobLocation: jobLocation}">{jobLocation.addressCountry}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{jobLocation: jobLocation}" class="btn btn-default">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{jobLocation: jobLocation}" class="btn btn-danger">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new" class="btn btn-default">New JobLocation</f:link.action>
</f:section>
</html>
