<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        JobPosting:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:debug title="FT: List">{_all}</f:debug>
<f:section name="content">
    <h1>Listing for JobPosting</h1>

    <f:flashMessages />

<f:security.ifHasRole>
    <button>Update</button>
</f:security.ifHasRole>

    <f:link.action action="new">New</f:link.action>

    <f:if condition="{jobPostings}">
        <f:then>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4 g-4">
                <f:widget.paginate objects="{jobPostings}" as="paginatedJobPostings"
                                   configuration="{itemsPerPage: 4, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 3, addQueryStringMethod: 'GET,POST'}">


                    <f:for each="{paginatedJobPostings}" as="jobPosting" iteration="jobPostingIterator">

                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <f:if condition="{jobPosting.employmentType} > 0">
                                    <f:then>
                                        <f:translate key="tx_dscjobpostings_domain_model_jobposting.employment_type.{jobPosting.employmentType}" />
                                    </f:then>
                                    <f:else>&nbsp;</f:else>
                                </f:if>
                            </div>
                            <f:if condition="{jobPosting.image}">
                                <div class="ratio ratio-16x9">
                                    <f:image image="{jobPosting.image}" maxWidth="1296" class="card-img-top" />
                                </div>
                            </f:if>

                            <div class="card-body">
                                <h5 class="card-title">{jobPosting.title}</h5>
                                <p class="card-text">
                                    {jobPosting.description -> f:format.html() -> f:format.crop(
                                        maxCharacters: '100',
                                        append: ' &hellip;',
                                        respectHtml : 'true',
                                        respectWordBoundaries : 'true'
                                        )}
                                </p>
                                <f:link.action pageUid="{settings.list.singlePid}" action="show"
                                               pluginName="Show"
                                               class="btn btn-primary stretched-link"
                                               arguments="{jobPosting : jobPosting}">
                                    <f:translate key="more" default="more"/>
                                </f:link.action>
                            </div>
                            <div class="card-footer">
<f:translate key="card_footer_posted"
             arguments="{0: '{jobPosting.datePosted -> f:format.date(format: \'{f:translate(key: \\\'format_date\\\')}\')}'}" />

                                <f:comment> <!-- <![CDATA[
                                	<f:alias map="{foo : 'bar'}">
                                    {foo}
                                </f:alias>
                                ]]>	--> </f:comment>
                            </div>
                        </div>
                    </div>

                </f:for>
                </f:widget.paginate>
            </div>
        </f:then>
        <f:else>
            <f:translate key="no_jobpostings_found" default="No job postings found." />
        </f:else>
    </f:if>

    <f:link.action action="listJSON"
                   pluginName="List"
                   class="btn btn-primary"
                   >
        JSON
    </f:link.action>
</f:section>
</html>
