{namespace b=OliverThiele\OtBootstrap5\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  lang="en-US" data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:comment> <!-- <![CDATA[
		<f:debug title="Layout: Default">{_all}</f:debug>
		<f:debug title="Layout: Default">{settings.dsc}</f:debug>
		<f:jhdfghkjdfhglkjdrh />
	]]>	--> </f:comment>

	<div class="container">
		<div class="row">
			<div class="col">
				[LOGO]
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
		<div class="container">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<f:for each="{mainNavigation}" as="page">

							<f:if condition="{page.current} == 1">
								<f:then>
									<li class="nav-item">
										<a class="nav-link active" aria-current="page"
										   href="{page.link}">
											{page.title}
										</a>
									</li>
								</f:then>
								<f:else>

									<f:if condition="{page.children}">
										<f:then>
											<li class="nav-item dropdown">
												<a class="nav-link dropdown-toggle" href="#" id="lv2-{page.data.uid}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
													{page.title}
												</a>
												<ul class="dropdown-menu" aria-labelledby="lv2-{page.data.uid}">
													<f:for each="{page.children}" as="subpage">
														<f:switch expression="{subpage.data.uid}">
															<f:case value="18">
																<f:cObject typoscriptObjectPath="lib.productMenu" />
															</f:case>
															<f:defaultCase>
																<li>
																	<f:if condition="{subpage.spacer} == 1">
																		<f:then>
																			<hr class="dropdown-divider">
																			<small class="d-block text-center"><b>{subpage.title}</b></small>
																		</f:then>
																		<f:else>
																			<a class="dropdown-item" href="{page.link}">
																				{subpage.title}
																			</a>
																		</f:else>
																	</f:if>
																</li>
															</f:defaultCase>
														</f:switch>
													</f:for>
												</ul>
											</li>
										</f:then>
										<f:else>
											<li class="nav-item">
												<a class="nav-link"
												   href="{page.link}">
													{page.title}
												</a>
											</li>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
					</f:for>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<f:cObject typoscriptObjectPath="lib.rootline" />

		<f:render section="Main"  />
	</div>

	<div id="pagefooter" class="bg-dark text-white mt-5 py-5">
		<div class="container">
			<f:render section="Footer" optional="true">
				<div class="row">
					<div class="col-4">
						{content6 -> f:format.raw()}
					</div>
					<div class="col-4">
						{content7 -> f:format.raw()}
					</div>
					<div class="col-4">
						{content8 -> f:format.raw()}
					</div>
				</div>
				Copyright 2018-2021 DSC
			</f:render>
		</div>
	</div>
</f:spaceless>
</html>
