{namespace b=OliverThiele\OtBootstrap5\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  lang="en-US" data-namespace-typo3-fluid="true">
<head>
	<meta charset="utf-8">
	<title>Partial: NavLevel3</title>
</head>
<body>

<f:section name="Main">
    <f:comment> <!-- <![CDATA[
    	<f:debug title="Partial Nav lv 3">{_all}</f:debug>
    ]]>	--> </f:comment>
    <nav class="nav-level-3">
        [NAVI LV 3]
    </nav>
</f:section>

</body>
</html>
