{namespace b=OliverThiele\OtBootstrap5\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  lang="en" data-namespace-typo3-fluid="true">
<head>
	<meta charset="utf-8">
	<title>Template: DscTextMedia</title>
</head>
<body>

<f:debug title="Tem: TextMedia">{_all}</f:debug>

<f:layout name="Default"/>

<f:section name="Header" />

<f:section name="Main">

    <div class="row">
        <div class="col-12 col-md-4 {f:if(condition: '{data.imageorient} == 25', then: 'order-first order-md-last', else: '')}">
            <f:if condition="{files.0}">
                <figure>
                    <picture>

                        <f:image image="{files.0}" maxWidth="1296" class="img-fluid rounded-3 border border-dark" cropVariant="default"/>
                    </picture>
                    <f:if condition="{files.0.description}">
                        <figcaption>
                            {files.0.description}
                        </figcaption>
                    </f:if>
                </figure>
            </f:if>
        </div>
        <div class="col-12 col-md-8  {f:if(condition: '{data.imageorient} == 25', then: 'order-last order-md-first', else: '')}">
            <f:switch expression="{data.header_layout}">
                <f:case value="100"></f:case>
                <f:defaultCase>
                    <h{data.header_layout} class="mt-4 mt-md-0">{data.header}
                        <f:if condition="{data.subheader}"><br><small>{data.subheader}</f:if></small>
                    </h{data.header_layout}>
                </f:defaultCase>
            </f:switch>
            {data.bodytext -> f:format.raw()}
        </div>
    </div>
</f:section>

</body>
</html>
