<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="datePosted">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.date_posted" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="datePosted" id="datePosted" value="{jobPosting.datePosted->f:format.date()}" /><br />
<label for="description">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="description" id="description" cols="40" rows="15" /><br />
<label for="validThrough">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.valid_through" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="validThrough" id="validThrough" value="{jobPosting.validThrough->f:format.date()}" /><br />
<label for="image">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.image" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="files">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.files" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="employmentType">
	<f:translate key="tx_dscjobpostings_domain_model_jobposting.employment_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="employmentType" id="employmentType" /><br />
</html>