<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dsc-jobpostings" >
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_jobposting.title" />
		</td>
		<td>
			{jobPosting.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_jobposting.date_posted" />
		</td>
		<td>
			{jobPosting.datePosted -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_jobposting.description" />
		</td>
		<td>
			{jobPosting.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_jobposting.valid_through" />
		</td>
		<td>
			{jobPosting.validThrough -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_jobposting.image" />
		</td>
		<td>
			{jobPosting.image.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_jobposting.files" />
		</td>
		<td>
			{jobPosting.files}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dscjobpostings_domain_model_jobposting.employment_type" />
		</td>
		<td>
			{jobPosting.employmentType}
		</td>
	</tr>
</table>
</html>