{namespace b=OliverThiele\OtBootstrap5\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  lang="en-US" data-namespace-typo3-fluid="true">
<head>
	<meta charset="utf-8">
	<title>Template: Default</title>
</head>
<body>

<f:layout name="DefaultLayout" />

<f:section name="Main">
	<div class="row">
		<div class="col-md-3 order-md-last">
			<f:render partial="NavLevel3" section="Main"  arguments="{navLevel3 : navLevel3}"/>
		</div>
		<div class="col-md-9 order-md-first">
			<h1>{data.title}</h1>

			<f:format.date format="d.m.Y H:i:s">12312312</f:format.date>

			<f:comment> <!-- <![CDATA[
				<f:format.raw>{content0}</f:format.raw>
			]]>	--> </f:comment>

			{content0 -> f:format.raw()}
		</div>
	</div>
</f:section>


<f:section name="Footer-Example">
	<f:comment> <!-- <![CDATA[
		<f:debug title="Template Default">{_all}</f:debug>
	]]>	--> </f:comment>
	Footer nur für Default Template
</f:section>

</body>
</html>
