{namespace b=OliverThiele\OtBootstrap5\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  lang="en-US" data-namespace-typo3-fluid="true">
<head>
	<meta charset="utf-8">
	<title>Template: Homepage</title>
</head>
<body>

<f:layout name="DefaultLayout" />

<f:section name="Main">
	<div>
		<f:comment> <!-- <![CDATA[
			<f:format.date format="d.m.Y H:i:s"> 12312312</f:format.date>
		]]>	--> </f:comment>

		Diese Seite wurde am {f:format.date(format: 'd.m.Y H:i:s', date: '{data.crdate}')} erstellt.

		{content0 -> f:format.raw()}

	</div>
</f:section>


</body>
</html>
