<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Backend:
        Templates:
          JobPosting:
            List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-add"
        title="{f:translate(id: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newRecordGeneral')}"
        link="{f:uri.action(controller: 'JobPosting', action: 'new')}"
    />
</f:section>

<f:section name="Content">
    <h1>Listing for JobPosting</h1>

    <f:flashMessages />

    <table class="tx_dscjobpostings">
        <tr>
            <th><f:translate key="tx_dscjobpostings_domain_model_jobposting.title" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_jobposting.date_posted" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_jobposting.description" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_jobposting.valid_through" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_jobposting.image" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_jobposting.files" /></th>
            <th><f:translate key="tx_dscjobpostings_domain_model_jobposting.employment_type" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{jobPostings}" as="jobPosting">
            <tr>
                <td><f:link.action action="show" arguments="{jobPosting: jobPosting}">{jobPosting.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobPosting: jobPosting}">{jobPosting.datePosted -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobPosting: jobPosting}">{jobPosting.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobPosting: jobPosting}">{jobPosting.validThrough -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobPosting: jobPosting}">{jobPosting.image.originalResource.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobPosting: jobPosting}">{jobPosting.files}</f:link.action></td>
                <td><f:link.action action="show" arguments="{jobPosting: jobPosting}">{jobPosting.employmentType}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{jobPosting: jobPosting}" class="btn btn-default">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{jobPosting: jobPosting}" class="btn btn-danger">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new" class="btn btn-default">New JobPosting</f:link.action>
</f:section>
</html>
